/* general selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

body {
    background-color: #f6f8f9;
}

/* utilities selector */

.button-font {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}


/* header selector  */

#app-header {
    background-color: white;
    height: 80px;
}
/* #app-header > img {
    padding: 10px;
} */

#app-header > img {
    position: relative;
    top: 10px;
    left: 10px;

}
#title {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    line-height: 80px;
    display: inline-block;
    height: 80px;

}

/* main selector */

#app-main {
    background-color: white;
    width: 70%;
    margin: auto;
}

.container-button {
    margin-top: 40px;
    padding: 20px 0 20px 50px;
    border-bottom: 2px solid #f6f8f9;
}

.add-task {
background-color: #47adf1;
border: none;
color: white;
}

.add-section {
    border-color: #ced3d7;
    color: #ced3d7;
    background-color: white;
}